<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<body>
    <h3>Edit your listing :</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3"> 
            <label for="title" class="form-label"><b>Title </b></label>
            <input type="text" name="listing[title]"  value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">please enter your Title</div>
            <div class="valid-feedback">Title looks good </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label"><b> Description</b> </label>
            <textarea name="listing[description]"  class="form-control" required ><%= listing.description %></textarea>
            <div class="invalid-feedback">please enter your Description</div>
        </div>

        <div class="mb-3">
          <b> Original Listing Image </b> <br>
            <img src="<%= originalImageUrl %>" alt="">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label"> <b>Upload Image </b></label>
            <input  name="listing[image]"  type="file"  class="form-control">
            <!-- <div class="invalid-feedback">please enter your Image/Link </div> -->
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"><b>Price </b></label>
                <input type="number" r name="listing[price]"  value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Please enter your Price</div>
            </div>
          
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label"><b>Country </b></label>
                <input type="text"  name="listing[country]"  value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">Country name should be Valid</div>
            </div>
        </div>
        

        <div class="mb-3">
            <label for="location" class="form-label"><b>Location </b></label>
            <input type="text" r name="listing[location]"  value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid Location</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</body>
<br>
</div>
</div>
<script src="/js/script.js"></script>